<a href="https://colab.research.google.com/github/Anmolpreet001/Basic-Python/blob/main/list_in_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# list programs in python

In [ ]:
l1=["Anmol",10,20,30,40,50,"mehak"] #list is mutable because it can change but tuple does not change
print(l1)

['Anmol', 10, 20, 30, 40, 50, 'mehak']

In [ ]:
l1=[10,20,30,40,[1,2,3,4,5],50,60,70]
print(l1)
print(l1[2:])
print(l1[4][2:])

[10, 20, 30, 40, [1, 2, 3, 4, 5], 50, 60, 70]
[30, 40, [1, 2, 3, 4, 5], 50, 60, 70]
[3, 4, 5]

In [ ]:
list1 = [10, 20, 30, 40,50,60]
list2=[30,40,50,60,70,80,50,606,463]
print(list1)
del list1[1]
print(len(list1))
print("after delting the keyword in the list: ",list1)
print(max(list1))
print(min(list1))
print(list1+list2)
print(list1[-1:-6:-1])
print(list1.append(100))
print(" after appending a new element in the list ",list1)
print(list1.reverse())
print(list1)
print(list1.sort())
print(list1)

[10, 20, 30, 40, 50, 60]
5
after delting the keyword in the list:  [10, 30, 40, 50, 60]
60
10
[10, 30, 40, 50, 60, 30, 40, 50, 60, 70, 80, 50, 606, 463]
[60, 50, 40, 30, 10]
None
 after appending a new element in the list  [10, 30, 40, 50, 60, 100]
None
[100, 60, 50, 40, 30, 10]
None
[10, 30, 40, 50, 60, 100]

## fibbonaci series in python
### 0,1,1,2,3,5,8,13......

In [ ]:
n=int(input("enter the number: "))
a=0
b=1
print(a)
print(b)
for i in range(1,n):
    c=i
    temp=c+d
    c=d
    d=temp
    print(temp)

enter the number: 7
0
1
2
2
2
2
2
2

## tuples in python

In [ ]:
t1=(10,20,30,40,50)
print(t1)

(10, 20, 30, 40, 50)

TypeError: 'tuple' object does not support item assignment

## find the number is prime or not

In [ ]:
n=int(input("enter the number: "))
count=0
for i in range(1,n+1):
    if(n%i==0):
        count=count+1
if(count>2):
    print("number is not prime")
else:
    print("number is prime")

## find the frequency of the number

In [ ]:
n=int(input("enter the number: "))
l1=[10,20,10,30,50,20]
count=0
for i in range(len(l1)):
    print(l1[i])
    if(l1[i]==n):
        count=count+1
    else:
        pass
print("frequency of" +str(n)+" which is in our list: ",count)
if(count==0):
    print("element is not present")

enter the number: 55
10
20
10
30
50
20
frequency of55 which is in our list:  0
element is not present

##  find the factor of the number

n=int(input("enter the number: "))
for i in range(1,n+1):
    if(n%i==0):
        print("factors of "+str(n)+ " number: ",i)
    else:
        pass

## wap of exchange first and last element of the list

In [ ]:
l=[10,20,30,40,50]
print(l)
temp=l[0]
l[0]=l[4]
l[4]=temp
print("new list after reversing the last and first number")
print(l)

[10, 20, 30, 40, 50]
new list after reversing the last and first number
[50, 20, 30, 40, 10]

## wap of swap two numbers in the list

In [ ]:
l1=[10,'anmol',20,30,'dhillon']
print(len(l1))
print(l1)
temp=l[1]
l[1]=l[2]
l[2]=temp
print("after swapping the two numbers in the list",l1)

5
[10, 'anmol', 20, 30, 'dhillon']
after swapping the two numbers in the list [10, 'anmol', 20, 30, 'dhillon']

## wap to check  the number is exist or not in the list

In [ ]:
n=int(input(" enter the number whether it is present or not in the list"))
l1=[10,20,30,40,50]
flag=0
for i in range(0,len(l1)):
    if(n==l1[i]):
        flag=1
if(flag==1):
    print("number is present in the list")
else:
    print("number is not present in the list")

 enter the number whether it is present or not in the list50
number is present in the list

## addresses in python

In [ ]:
a=10
b=22
c=a
print("a:{0} , b:{1}, id(a):{2}, id(b):{3}".format(a,b,id(a),id(b)))
print("c: {0}, id(c): {1}".format(c,id(c)))

a:10 , b:22, id(a):1182389961232, id(b):1182389961616
c: 10, id(c): 1182389961232

In [ ]:
a=10
b=22
a=a+1
c=a
print("a:{0} , b:{1}, id(a):{2}, id(b):{3}".format(a,b,id(a),id(b)))
print("c: {0}, id(c): {1}".format(c,id(c)))

a:11 , b:22, id(a):1182389961264, id(b):1182389961616
c: 11, id(c): 1182389961264

## functions in pyhton

In [ ]:
students = ['Anmol' ,'reshav', 'badal' ,'naman']
nameAge = ('Anmol',21 ,'reshav',20, 'badal',19 ,'naman',17)
dictMarks = { 'Anmol':98 ,'reshav':95, 'badal':93 ,'naman':99}
print(type(students) , type(nameAge) , type(dictMarks))
print("lenght of list",len(students),  "length of tuple: ",len(nameAge),"lenght of dictinary: ",len(dictMarks))

<class 'list'> <class 'tuple'> <class 'dict'>
lenght of list 4 length of tuple:  8 lenght of dictinary:  4

In [ ]:
n = int(input ("enter number of lines "))
for outer in range (1,n+1):
    for space in range (1, (n+1)-outer ):
        print ( " " ,end ="")
    for inner in range  (1, outer+1):
        print (inner , end=" ")
    print (" ")

enter number of lines 10
         1
        1 2
       1 2 3
      1 2 3 4
     1 2 3 4 5
    1 2 3 4 5 6
   1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8
 1 2 3 4 5 6 7 8 9
1 2 3 4 5 6 7 8 9 10

In [ ]:
n=int(input"enter the number: "))