In [1]:
import pandas as pd
pd. __version__

'1.5.3'

In [7]:
import pandas as pd
s1=pd.Series(['a','b','comma','fullstop'])
print(s1)
s1[0]
s1[2]

0           a
1           b
2       comma
3    fullstop
dtype: object

'comma'

In [11]:
s2 = pd.Series(['Sita','Gita', 'Ram','Himmat'] , index =['Rank1' , 'Rank2', 'Rank3', 'Rank4'] )
print(s2)
print(s2['Rank1'])

Rank1      Sita
Rank2      Gita
Rank3       Ram
Rank4    Himmat
dtype: object
Sita

In [12]:
a=s2[['Rank1','Rank2']]
print(type(a))

<class 'pandas.core.series.Series'>

In [14]:
data={'name': ['amit','anil','sumit','rosy'],'age' : [14,15,13,18]}
df=pd.DataFrame(data)
df

    name  age
0   amit   14
1   anil   15
2  sumit   13
3   rosy   18

In [15]:
data = [['Amit',10],['Sumit',12],['Himmat',13]]
df = pd.DataFrame(data,columns=['Name','Rollno'])
df

     Name  Rollno
0    Amit      10
1   Sumit      12
2  Himmat      13

In [16]:
data=[{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df=pd.DataFrame(data,index=['first','second'])
df

        a   b     c
first   1   2   NaN
second  5  10  20.0

## list compression in python

In [2]:
data=[{'a':i,'b':2*i} for i in range(3)]
print(data)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}]

In [6]:
## make a dictonary having square of numbers upto 20
## key = 2
# value=4
lst=[]
for i in range(1,20):
    dic1=(i:i*i)
    lst.append(dic1)
    print(lst)

SyntaxError: invalid syntax (2098039760.py, line 6)

In [7]:
lst1=[{i:i*i} for i in range(1,20)]
print(lst1)

[{1: 1}, {2: 4}, {3: 9}, {4: 16}, {5: 25}, {6: 36}, {7: 49}, {8: 64}, {9: 81}, {10: 100}, {11: 121}, {12: 144}, {13: 169}, {14: 196}, {15: 225}, {16: 256}, {17: 289}, {18: 324}, {19: 361}]